/* Write your CSS here */

.not-background {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 22px;
  font-family: 'Bree Serif';
  height: 100vh;
}

@media (max-width: 767px) {
  .not-background {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
    font-size: 18px;
  }
}
