/* Write your CSS here */

.team-background {
  min-height: 100vh;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.RCB {
  background-image: linear-gradient(to bottom, #a4261d, #1e293b);
}

.KKR {
  background-image: linear-gradient(to bottom, #5755a7, #1e293b);
}

.KXP {
  background-image: linear-gradient(to bottom, #d91c1f, #1e293b);
}

.CSK {
  background-image: linear-gradient(to bottom, #f7db00, #1e293b);
}

.RR {
  background-image: linear-gradient(to bottom, #da237b, #1e293b);
}

.MI {
  background-image: linear-gradient(to bottom, #13418b, #1e293b);
}

.SH {
  background-image: linear-gradient(to bottom, #f26d22, #1e293b);
}

.DC {
  background-image: linear-gradient(to bottom, #4f5db0, #1e293b);
}

.team-image {
  width: 100%;
}

.latest-matches-heading {
  font-size: 30px;
  color: #ffffff;
  text-align: left;
  font-family: 'Bree Serif';
}

@media (max-width: 767px) {
  .latest-matches-heading {
    font-size: 20px;
  }
}

.match-details {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
}
